<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Customer | 5Seconds</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin.min.css}" rel="stylesheet"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="fragments/admin_template :: nav"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/admin/dashboard/}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <a th:href="@{/admin/customer/}">Customer</a>
            </li>
        </ol>

        <!-- Customer DataTables Card-->
        <div class="row card mb-3" style="margin: 1%">
            <div class="card-header">
                <i class="fa fa-table"></i> Our customers
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th hidden="hidden">Customer ID</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Birthday</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th hidden="hidden">Customer ID</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Birthday</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.getCustomer_name()}"></td>
                            <td th:text="${customer.getEmail()}"></td>
                            <td th:text="${customer.getPhone()}"></td>
                            <td th:text="${customer.getBirthday()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <a th:href="@{'/admin/customer/add'}" class="btn btn-success btn-lg float-right ml-auto" role="button"
           aria-pressed="true"><i
                class="fa fa-plus"
                aria-hidden="true"></i></a>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!--footer-->
    <div th:replace="fragments/admin_footer :: footer"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../js/jquery.easing.min.js" th:src="@{/js/jquery.easing.min.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../../js/jquery.dataTables.js" th:src="@{/js/jquery.dataTables.js}"></script>
    <script src="../../js/dataTables.bootstrap4.js" th:src="@{/js/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
    <!-- Custom scripts for this page-->
    <script src="../../js/sb-admin-datatables.min.js" th:src="@{/js/sb-admin-datatables.min.js}"></script>
</div>
</body>
</html>
