<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Category | 5Seconds</title>
    <!-- Bootstrap core CSS-->
    <link href="/resources/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css"/>
    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin.min.css" th:href="@{/css/sb-admin.min.css}" rel="stylesheet"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="fragments/admin_template :: nav"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/admin/dashboard}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <a th:href="@{/admin/category}">Category</a>
            </li>
        </ol>
        <!--update form-->
        <form id="f_updateCategory" action="/admin/category/update/{catId}" th:value="${category}" method="post">
            <div id="input" class="input-group input-group">
                <input type="hidden" name="catId" th:value="${category.getId()}"/>
                <input type="text" class="form-control"
                       aria-describedby="sizing-addon1" name="title" th:value="${category.getTitle()}"/>
                <span class="input-group-addon btn btn-outline-warning" id="btnAddCategory"
                      onclick="document.getElementById('f_updateCategory').submit();"><i class="fa fa-download"
                                                                                         aria-hidden="true"></i></span>
                <a class="input-group-addon btn btn-outline-danger" type="submit" th:href="@{'/admin/category/delete/' + ${category.getId()}}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </form>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!--footer-->
    <div th:replace="fragments/admin_footer :: footer"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../js/jquery.easing.min.js" th:src="@{/js/jquery.easing.min.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
</div>
</body>

</html>
