<header xmlns:th="http://www.thymeleaf.org" th:name="header">

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="col-xl-4">
                <a class="navbar-brand text-warning" href="/"><h3>5Seconds</h3></a>
            </div>
            <div class="col-xl-4">
                <form class="navbar-form" role="search" action="/search/" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" style="border:#ffc107"/>
                        <div class="input-group-btn">
                            <button class="btn btn-outline-warning" type="submit"><i class="fa fa-search"
                                                                                     aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-4">
                <a id="navbarResponsive" class="nav-item float-right btn btn-info" aria-haspopup="true"
                   aria-expanded="false" style="position: relative" th:href="@{'/cart'}">
                    <i class="fa fa-shopping-cart fa-lg" data-toggle="dropdown" aria-hidden="true"></i>
                    <h6><span class="badge badge-pill badge-warning pull-right" style="position: absolute">4</span>
                    </h6>
                </a>
                <!--<form class="dropdown-menu p-4"> -->
                <!--<div class="form-group">-->
                <!--<label for="exampleDropdownFormEmail2">Email address</label>-->
                <!--<input type="email" class="form-control" id="exampleDropdownFormEmail2"-->
                <!--placeholder="email@example.com"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label for="exampleDropdownFormPassword2">Password</label>-->
                <!--<input type="password" class="form-control" id="exampleDropdownFormPassword2"-->
                <!--placeholder="Password"/>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                <!--<label class="form-check-label">-->
                <!--<input type="checkbox" class="form-check-input"/>-->
                <!--Remember me-->
                <!--</label>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
                <!--</form>-->
            </div>
        </div>
    </nav>

    <nav class="nav nav-pills navbar-expand-lg navbar-light bg-faded justify-content-center">
        <a class="nav-link" th:each="category : ${categories}"
           th:classappend="${category.getId() == catId ||  category.getId() == categoryId ? 'active' : ''}"
           th:href=" @{'/products/category/' + ${category.getId()}}"
           th:text="${category.getTitle()}"></a>
    </nav>
</header>
