<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Order Detail | 5Seconds</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2 class="text-center" style="padding: 15px">#Order Information <span th:text="${orderInfo.getId()}"
                                                                           class="badge badge-danger"
                                                                           id="orderId"></span></h2>
    <div class="row">
        <!--Order detail-->
        <div class="col-lg-5">
            <!--Summary Shipping Info -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-info-circle"></i>
                    Shipping Infomation
                </div>
                <div class="card-body">
                    <form id="f_addCustomer" action="/checkout/bill" method="post">
                        <div class="form-group row">
                            <label for="customerName" class="col-sm-3 col-form-label">Full Name</label>
                            <div class="col-sm-9">
                                        <span th:text="${customer.getCustomer_name()}" class="form-control"
                                              id="customerName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerAddress" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                        <span th:text="${customer.getAddress()}" class="form-control"
                                              id="customerAddress"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerEmail" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                        <span th:text="${customer.getEmail()}" class="form-control"
                                              id="customerEmail"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerPhone" class="col-sm-3 col-form-label">Phone</label>
                            <div class="col-sm-9">
                                <span th:text="${customer.getPhone()}" class="form-control" id="customerPhone"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerBirthday" class="col-sm-3 col-form-label">Birthday</label>
                            <div class="col-sm-9">
                                        <span th:text="${customer.getBirthday()}" class="form-control"
                                              id="customerBirthday"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="order_note" class="col-sm-3 col-form-label">Note</label>
                            <div class="col-sm-9">
                                <span th:text="${orderInfo.getNote()}" class="form-control" id="order_note"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <!-- Order Items DataTables Card-->
            <div class=" card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Order Items
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="orderItem : ${cart}">
                                <td th:text="${orderItem.getProduct().getProductName()}"></td>
                                <td th:text="${orderItem.getProduct().getPrice()}"></td>
                                <td th:text="${orderItem.getQuantity()}"></td>
                                <td th:text="${'$' + #numbers.formatDecimal((orderItem.getProduct().getPrice())*(orderItem.getQuantity()), 0, 0)}"></td>
                            </tr>
                            </tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>Total</h4></td>
                                <td id="totalPrice">
                                    <h3><strong class="badge badge-danger"
                                                th:text="${'$' + #numbers.formatDecimal(cartTotalPrice, 0, 0)}"></strong>
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Bootstrap core JavaScript-->
<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script src="../../js/jquery.easing.min.js" th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
<!-- Custom scripts for all pages-->
<script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
</body>
</html>
