<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Order Detail | 5Seconds</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template-->
    <!--<link th:href="@{/css/sb-admin.min.css}" rel="stylesheet"/>-->
</head>

<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row" style="margin-top: 5%">
        <!--Order detail-->
        <div class="col-6">
            <!-- Customer Add Form-->
            <h5>Customer information</h5>
            <form id="f_addCustomer" action="/customer/" method="post">
                <div class="form-group row">
                    <label for="inputCustomerName" class="col-sm-2 col-form-label">Full Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputCustomerName" placeholder="Your name is"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="E-mail"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPhone" placeholder="Phone number"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBirthday" class="col-sm-2 col-form-label">Birthday</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputBirthday" placeholder="Birthday"/>
                    </div>
                </div>
            </form>
            <div class="form-group row float-right">
                <div class="col-sm-10">
                    <a type="submit" class="btn btn-primary" th:href="@{/admin/customer/}">Submit</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- Order Items DataTables Card-->
            <div class="row card mb-3" style="margin-top: 5%">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Order Items
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th hidden="hidden">Product ID</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th hidden="hidden">Product ID</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="orderItem : ${cart}">
                                <td style="display: none;" th:text="${orderItem.getProduct().getId()}"></td>
                                <td th:text="${orderItem.getProduct().getProductName()}"></td>
                                <td th:text="${orderItem.getProduct().getPrice()}"></td>
                                <td th:text="${orderItem.getQuantity()}"></td>
                                <td th:text="${(orderItem.getProduct().getPrice())*(orderItem.getQuantity())}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <h6 th:text="${note}"></h6>
                    </div>
                </div>
            </div>
            <form id="f_addNote" action="/order/note" method="post" style="margin-bottom: 3%">
                <div class="input-group input-group">
                    <input type="text" class="form-control" placeholder="Write note for order"
                           aria-describedby="sizing-addon1" name="order_note"/>
                    <span type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Bootstrap core JavaScript-->
<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script src="../../js/jquery.easing.min.js" th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script src="../../js/jquery.dataTables.js" th:src="@{/js/jquery.dataTables.js}"></script>
<script src="../../js/dataTables.bootstrap4.js" th:src="@{/js/dataTables.bootstrap4.js}"></script>
<!-- Custom scripts for all pages-->
<script src="../../js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
<!-- Custom scripts for this page-->
<script src="../../js/sb-admin-datatables.min.js" th:src="@{/js/sb-admin-datatables.min.js}"></script>
</body>
</html>
