<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Product Detail | 5Seconds</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

    <!-- Custom styles for this template -->
    <!--<link href="../../css/portfolio-item.css" rel="stylesheet"/>-->

</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <form style="padding: 15px" id="f_searchOrder" action="/order/search/" th:value="${orderId}" method="get">
                <div class="input-group">
                    <input type="text" name="orderId" class="form-control" placeholder="Enter #OrderId"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" onclick="document.getElementById('f_searchOrder').submit();">Search!</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <h2 th:if="${orderInfo}" class="text-left" style="padding: 15px">
                #OrderId
                <span th:text="${orderInfo.getId()}" class="badge badge-danger"></span>
                <span th:text="${orderInfo.getStatus()}" class="badge badge-primary"></span>
            </h2>
        </div>
    </div>
    <!--Information-->
    <div th:if="${orderInfo}" class="row">
        <!--Order detail-->
        <div class="col-5">
            <!--Summary Shipping Info -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-info-circle"></i>
                    Shipping Infomation
                </div>
                <div class="card-body">
                    <form id="f_addCustomer" action="/checkout/bill" method="post">
                        <div class="form-group row">
                            <label for="customerName" class="col-sm-3 col-form-label">Full Name</label>
                            <div class="col-sm-9">
                                        <span th:text="${orderInfo.getCustomer().getCustomer_name()}"
                                              class="form-control"
                                              id="customerName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerAddress" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                        <span th:text="${orderInfo.getCustomer().getAddress()}" class="form-control"
                                              id="customerAddress"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerEmail" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                        <span th:text="${orderInfo.getCustomer().getEmail()}" class="form-control"
                                              id="customerEmail"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerPhone" class="col-sm-3 col-form-label">Phone</label>
                            <div class="col-sm-9">
                                <span th:text="${orderInfo.getCustomer().getPhone()}" class="form-control"
                                      id="customerPhone"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customerBirthday" class="col-sm-3 col-form-label">Birthday</label>
                            <div class="col-sm-9">
                                        <span th:text="${orderInfo.getCustomer().getBirthday()}" class="form-control"
                                              id="customerBirthday"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="order_note" class="col-sm-3 col-form-label">Note</label>
                            <div class="col-sm-9">
                                <span th:text="${orderInfo.getNote()}" class="form-control" id="order_note"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7">
            <!-- Order Items DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Order Items
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th hidden="hidden">Product ID</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th hidden="hidden">Product ID</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="orderItem : ${orderInfo.getOrderItems()}">
                                <td style="display: none;" th:text="${orderItem.getProduct().getId()}"></td>
                                <td th:text="${orderItem.getProduct().getProductName()}"></td>
                                <td th:text="${orderItem.getProduct().getPrice()}"></td>
                                <td th:text="${orderItem.getQuantity()}"></td>
                                <td th:text="${(orderItem.getProduct().getPrice())*(orderItem.getQuantity())}"></td>
                            </tr>
                            </tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>Total</h4></td>
                                <td id="totalPrice">
                                    <h3><strong class="badge badge-danger"
                                                th:text="${'$' + #numbers.formatDecimal(total, 0, 0)}"></strong>
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${orderInfo}" style="padding: 15px">
        <h1>No results found !!!</h1>
        <div style="height: 100%">&nbsp;</div>
    </div>
</div>
<!-- /.container -->


<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

</body>

</html>